<%= link_to "Search", search_path %> << <%= link_to "#{@user.name}", user_path(@user.id) %><br /><br />
<h1><%= @user.name %></h1>

<h2>@user.inspect</h2>
<%= text_area_tag 'user', @user.inspect, :size => '80x10' %>
